/SegundoTallerInteractiva/nbproject/private/
/PrimerPuntoTallerInteractiva/nbproject/private/
/PrimerPuntoTallerInteractiva/build/
/PrimerPuntoTallerInteractiva/dist/
/SegundoTallerInteractiva/build/
/SegundoTallerInteractiva/dist/